<h1>Listing articulos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Subcategoria</th>
      <th>Video</th>
      <th>Imagen</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.contenido %></td>
        <td><%= articulo.subcategoria %></td>
        <td><%= articulo.video %></td>
        <td><%= articulo.imagen %></td>
        <td><%= articulo.slug %></td>
        <td><%= link_to 'Show', admin_articulo_path(articulo) %></td>
        <td><%= link_to 'Edit', edit_admin_articulo_path(articulo) %></td>
        <td><%= link_to 'Destroy', admin_articulo_path(articulo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articulo', new_admin_articulo_path %>
