<div class='row'>
  <%= form_for [:admin, @subcategoria] do |f| %>
    <% if @subcategoria.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subcategoria.errors.count, "error") %> prohibited this subcategoria from being saved:</h2>

        <ul>
        <% @subcategoria.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='col-12'>
      <div class='grouped-inputs '>
      <%= f.label :titulo %>
      <%= f.text_field :titulo, placeholder: 'Título de la Subategoría'  %>
      </div>
    </div>
    <div class='col-5'>
      <div class='grouped-inputs '>
        <%= f.label 'Posición' %>
        <%= f.number_field :posicion, placeholder: 'Posición en número'  %>
      </div>
    </div>
    <div class='col-5'>
      <div class='grouped-inputs-select '>
        <%= f.label 'Categoría' %>
        <%= f.collection_select :categoria_id, Categoria.all, :id, :titulo %>
      </div>
    </div>
    <div class='col-12'>
      <div class='grouped-inputs-textarea'>
        <%= f.text_area :descripcion, placeholder: 'Descripción de la Subategoría', class: 'wysiwyg' %>
      </div>
    </div>

    <div class='col-12'>
      <br>
      <div class='float actions'>
        <%= f.submit 'Guardar', class:'btn-default push-right'  %>
        <%= link_to 'Cancelar', admin_subcategorias_path, class:'btn-cancel push-right' %>
      </div>
    </div>

  <% end %>
</div>
