<div class='title'>
  <span class='icon'>
    <i class="fa fa-history fa-lg"></i>
  </span>
  <h4>Lista de Categorías</h4>
</div>
<ul class='content sidebar-categorias'>
  <% todas_categorias.each do |categoria|%>
  <li style='background:<%= categoria.color %>;'>
    <%= link_to(categoria) do  %>
    <% if categoria.icon? %>
      <i class="fa fa-<%= categoria.icon %> fa-lg" style='margin-right:10px;'></i><%= categoria %>
    <% else %>
      <i class="fa fa-file fa-lg" style='margin-right:10px;'></i><%= categoria %>
    <% end %>
    <% end %>
  </li>
  <% end %>
</ul>

<div class='title'>
  <span class='icon'>
    <i class="fa fa-history fa-lg"></i>
  </span>
  <h4>Últimos Artículos</h4>
</div>
<ul class='content'>
  <% ultimos_articulos.each do |articulo|%>
    <li>
      <%= link_to([articulo.subcategoria, articulo]) do  %>
        <i class="fa fa-<%= articulo.subcategoria.categoria.icon %> fa-lg" style='color:<%= articulo.subcategoria.categoria.color %>; margin-right:10px;'></i><%= articulo %>
      <% end %>
    </li>
  <% end %>
</ul>

<!--  Valorados
<div class='title'>
  <span class='icon'>
    <i class="fa fa-heart fa-lg"></i>
  </span>
  <h4>Más Valorados</h4>
</div>
<ul class='content'>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
  <li>
    <%= link_to 'Pregunta', root_path %>
  </li>
</ul>
-->
