<div class='row'>
  <div class='col-9 categories'>
    <ul>
      <% @categorias.each do |categoria| %>
        <li>
          <div class='header' style='background:<%= categoria.color %>;'>
            <div class="icon">
              <span class='icon' style='background:<%= categoria.color %>;'>
                <i class="fa fa-<%= categoria.icon %>"></i>
              </span>
              <span class='back'></span>
            </div>
            <h3 class='title'><%= categoria.titulo %></h3>
          </div>
          <div class='content'>
            <ul>
              <% categoria.subcategorias.each do |subcategoria| %>
              <li>
                <%= link_to subcategoria.titulo , root_path %>
              </li>
              <%end%>
            </ul>
          </div>
          <%= link_to '<span>ver todas las subcategorias</span> <i class="fa fa-arrow-circle-right"></i>'.html_safe, categoria , class: 'link-to'%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='col-3 sidebar'>
    <%= render 'home/sidebar' %>
  </div>
</div>
