<div class='row'>
  <div class='col-12'>
    <div class="breadcrumb">
      <%= link_to 'Home', root_path %>
      <%= link_to  @categoria.titulo, root_path %>
    </div>
    <br><br>
  </div>
  <div class='col-9 category'>
    <!--Header -->
    <div class='header' style='background: <%= @categoria.color %>;'>
      <div class="icon">
        <span class='icon'  style='background: <%= @categoria.color %>;'>
          <% if @categoria.icon? %>
            <i class="fa fa-<%= @categoria.icon %>"></i>
          <% else %>
            <i class="fa fa-file"></i>
          <% end %>
        </span>
        <span class='back'></span>
      </div>
      <h3 class='title'><%= @categoria.titulo %></h3>
    </div>
    <!--Subcategorias -->
    <dl class="accordion">
      <% @categoria.subcategorias.each do |subcategoria| %>
        <dt>
          <%= link_to(root_path) do %>
            <span><%= subcategoria.titulo %></span> <i class="fa fa-sort"></i>
          <% end %>
        </dt>
        <dd class='content'>
          <!--Preguntas -->
          <ul>
            <% subcategoria.articulos.primeros.each do |articulo| %>
            <li>
              <%= link_to articulo, [articulo.subcategoria, articulo] %>
            </li>
            <%end%>
          </ul>
          <%= link_to([subcategoria.categoria, subcategoria], html_options = {class: 'link-to' }) do %>
            <span>ver todos los artículos de <%= subcategoria %></span> <i class="fa fa-arrow-circle-right"></i>
          <% end %>
        </dd>
      <%end%>
    </dl>
  </div>
  <div class='col-3 sidebar'>
    <%= render 'shared/sidebar' %>
  </div>
</div>

<hr>
