<div class='devise'>
  <div class='header'>
    <span class='icon'>
      <i class="fa fa-arrow-circle-right fa-lg"></i>
    </span>
    <h2><%= t('.sign_in', :default => "Sign in") %></h2>
  </div>
  <div class='content'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class='grouped-inputs'>
        <label><i class="fa fa-at"></i></label>
        <%= f.email_field :email , placeholder: 'Correo Electrónico', class: 'required'%>
      </div>
      <div class='grouped-inputs'>
        <label><i class="fa fa-lock"></i></label>
        <%= f.password_field :password, placeholder: 'Contraseña', class: 'required' %>
      </div>

      <div class='row'>
        <div class='col-6'>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox push-right">
              <%= f.check_box :remember_me %>
              <label for="user_remember_me"></label>
              <span>Recuerdame</span>
            </div>
          <% end -%>
        </div>
        <div class='col-6'>
          <div class='float'>
            <%= f.button t('.sign_in', :default => "Sign in"), class: 'btn-default push-right', data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> cargando..."} %>
          </div>
        </div>
      </div>

    <% end %>
    <hr>

    <div class='float'>
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
