<div class='row'>
  <%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> no permitieron guardar los cambios:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='col-12'>
      <div class='grouped-inputs'>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Correo Electrónico' %>
      </div>
    </div>

    <div class="col-12">
      <div class='grouped-inputs'>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="col-12">
      <div class='grouped-inputs'>
        <%= f.label 'Confirmar Contraseña' %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="col-12">
      <div class='grouped-inputs-select'>
        <%= f.label :roles, 'Permisos' %>
        <%= f.select :roles, User::ROLES, {prompt: "Selecciona los permisos"}, {:multiple => true, class: 'select-multiple'} %>
      </div>
    </div>

    <div class='col-12'>
      <br>
      <div class='float actions'>
        <%= f.submit 'Guardar', class:'btn-default push-right'  %>
        <%= link_to 'Cancelar', admin_users_path, class:'btn-cancel push-right' %>
      </div>
    </div>
  <% end %>
</div>
