<% content_for :breadcrumbs do %>
  <div class="breadcrumb">
    <%= link_to 'Dashboard', admin_path %>
    <%= link_to 'Usuarios', admin_users_path %>
    <%= link_to @user.email , '' %>
  </div>
<% end %>

<div class='container'>
  <div class='row title'>
    <div class='col-12'>
      <span class='icon'>
        <i class="fa fa-user fa-lg"></i>
      </span>
      <h3><%= @user.email %></h3>
    </div>
    <div class='col-12 info'>
      <div class='row'>
          <ul>
            <li>
            </li>
          </ul>
        </div>
        <div class='col-12'>
          <div class='float'>
            <%= link_to 'Editar', edit_admin_user_path(@user), class:'btn-default push-right'  %>
            <%= link_to 'Regresar', admin_users_path, class:'btn-gray push-right'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
