<%= nested_form_for [:admin, @categoria] do |f| %>
  <div class='row'>
    <% if @categoria.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>
        <ul>
        <% @categoria.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='col-12'>
      <div class='grouped-inputs '>
        <%= f.label 'Título' %>
        <%= f.text_field :titulo, placeholder: 'Título de la Categoría' %>
      </div>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :prioridad %>
        <%= f.number_field :prioridad, placeholder: 'Prioridad en número' %>
      </div>
    </div>
    <div class="col-5">
      <div class="checkbox">
        <%= f.check_box :visible %>
        <label for="categoria_visible"></label>
        <span>Ver en Sitio</span>
      </div>
      <br>
    </div>

    <div class="col-5">
      <div class='grouped-inputs relative-div'>
        <%= f.label :icon %>
        <%= f.text_field :icon, class: 'value-icon', placeholder: 'Selecciona un Icono' %>
        <div class='icon-select'>
          <i class="fa fa-search-plus"></i>
          <%= render 'iconos' %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :color %>
        <%= f.text_field :color, placeholder: 'Selecciona un Color', class: 'minicolor' %>
      </div>
    </div>

    <div class='col-12'>
      <%= f.link_to_add '<i class="fa fa-plus"></i> Agrega subcategoría'.html_safe, :subcategorias , class: 'btn-default'%>
      <%= f.fields_for :subcategorias do |sub| %>
      <div class='row title'>
        <div class='col-9'>
          <span class='icon'>
            <i class="fa fa-th-large fa-lg"></i>
          </span>
          <h3>Subcategoría</h3>
        </div>
        <div class='col-3 float'>
          <%= sub.link_to_remove 'Quita esta subcategoría', class: 'btn-cancel push-right mt' %>
        </div>
      </div>
      <div class='col-12 info'>
        <div class='grouped-inputs'>
          <%= sub.label :titulo %>
          <%= sub.text_field :titulo, placeholder: 'Agrega titulo de subcategoría' %>
        </div>
        <div class='grouped-inputs'>
          <%= sub.label :posicion %>
          <%= sub.number_field :posicion, placeholder: 'Posición en número' %>
        </div>
        <div class="grouped-inputs-textarea">
          <%= sub.cktext_area :descripcion, placeholder: 'Descripción de la subcategoría' %>
        </div>
      </div>
      <% end %>
    </div>

    <div class='col-12'>
      <div class='float'>
        <%= f.submit 'Guardar', class:'btn-default push-right'  %>
        <%= link_to 'Cancelar', admin_categorias_path, class:'btn-cancel push-right' %>
      </div>
    </div>
  </div>
<% end %>
