<div class='row'>
  <%= form_for [:admin, @categoria] do |f| %>
    <% if @categoria.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

        <ul>
        <% @categoria.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='col-12'>
      <div class='grouped-inputs '>
        <%= f.label 'Título' %>
        <%= f.text_field :titulo, placeholder: 'Título de la Categoría' %>
      </div>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :prioridad %>
        <%= f.number_field :prioridad, placeholder: 'Prioridad en número' %>
      </div>
    </div>
    <div class="col-5">
      <div class="checkbox">
        <%= f.check_box :visible %>
        <label for="categoria_visible"></label>
        <span>Ver en Sitio</span>
      </div>
      <br>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :icon %>
        <%= f.text_field :icon, class: 'value-icon' %>
        <div class='icon-select'>
          Seleccionar Icono
          <%= render 'iconos' %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :color %>
        <%= f.text_field :color, placeholder: 'Selecciona un Color', class: 'minicolor' %>
      </div>
    </div>

    <div class='col-12'>
      <div class='float'>
        <%= f.submit 'Guardar', class:'btn-default push-right'  %>
        <%= link_to 'Cancelar', admin_categorias_path, class:'btn-cancel push-right' %>
      </div>
    </div>

  <% end %>

</div>
