<%= nested_form_for [:admin, @categoria] do |f| %>
  <div class='row'>
    <% if @categoria.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>
        <ul>
        <% @categoria.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='col-12'>
      <div class='grouped-inputs '>
        <%= f.label 'Título' %>
        <%= f.text_field :titulo, placeholder: 'Título de la Categoría' %>
      </div>
    </div>

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :prioridad %>
        <%= f.number_field :prioridad, placeholder: 'Prioridad en número' %>
      </div>
    </div>
    <div class="col-5">
      <div class="checkbox">
        <%= f.check_box :visible %>
        <label for="categoria_visible"></label>
        <span>Ver en Sitio</span>
      </div>
      <br>
    </div>

    <!-- Iconos
    <div class="col-5">
      <div class='grouped-inputs relative-div'>
        <%= f.label :icon %>
        <%= f.text_field :icon, class: 'value-icon', placeholder: 'Selecciona un Icono' %>
        <div class='icon-select'>
          <i class="fa fa-search-plus"></i>
          <%= render 'iconos' %>
        </div>
      </div>
    </div> -->

    <div class="col-5">
      <div class='grouped-inputs'>
        <%= f.label :color %>
        <%= f.text_field :color, placeholder: 'Selecciona un Color', class: 'minicolor' %>
      </div>
    </div>

    <div class='col-12'>
      <div class='row'>
        <div class='col-3 sidebar'>
          <div class='title'>
            <span class='icon'>
              <i class="fa fa-th-large"></i>
            </span>
            <h4>Editar Subcategorías</h4>
          </div>
          <ul class='content lista-sub'>
            <li class='primer-li'><%= f.link_to_add '<i class="fa fa-plus"></i> Agregar Subcategoría <span id="totalSub" class="indicador-rojo"></span>'.html_safe, :subcategorias , class: 'add-sub', data: {target: '#target'}, onclick: 'listener()' %>
            </li>

            <% if @categoria.subcategorias.count > 0 %>
                <%= f.fields_for :subcategorias do |sub| %>
                  <% if sub.object.slug? %>
                    <li><a class='<%= sub.object.slug%> existe'><i class="fa fa-th-large"></i> <%= sub.object.titulo.truncate(30) %></a></li>
                  <% end %>
                <% end %>
            <% else %>
              <li><%= link_to 'Sin Subcategorías', '' %></li>
            <% end %>
          </ul>
        </div>
        <div class='col-9'>
          <div class='caja-sub' id='target'>
            <%= f.fields_for :subcategorias do |sub| %>
              <% if sub.object.slug? %>
                <div class='add-subcategory oculta <%= sub.object.slug %>'>
              <% else %>
                <div class='add-subcategory nuevo'>
              <% end %>
                  <div class='row title'>
                    <div class='col-9'>
                      <span class='icon'>
                        <i class="fa fa-th-large fa-lg"></i>
                      </span>
                      <h3>Subcategoría</h3>
                    </div>
                    <div class='col-3 float'>
                      <%= sub.link_to_remove '<i class="fa fa-trash"></i> eliminar'.html_safe, class: 'btn-cancel push-right mt', onclick: 'update()'%>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-12 info'>
                      <div class='grouped-inputs'>
                        <%= sub.label :titulo %>
                        <%= sub.text_field :titulo, placeholder: 'Agrega titulo de subcategoría' %>
                      </div>
                      <div class='grouped-inputs'>
                        <%= sub.label :posicion %>
                        <%= sub.number_field :posicion, placeholder: 'Posición en número' %>
                      </div>
                      <div class="grouped-inputs-textarea">
                        <%= sub.text_area :descripcion, placeholder: 'Descripción de la subcategoría', class: 'wysiwyg' %>
                      </div>
                    </div>
                  </div>
                </div>
                <% unless sub.object.id %>
                  <script charset="utf-8">
                    $(document).ready(function(){
                      $(".wysiwyg").editable({language: 'es', inlineMode: false, buttons: ["bold", "italic", "underline", "fontSize", "table", "insertVideo", "insertImage", "uploadFile", "insertOrderedList", "insertUnorderedList", "color", "createLink", "redo", "undo"]});
                    });
                  </script>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class='col-12'>
      <br>
      <div class='float actions'>
        <%= f.submit 'Guardar', class:'btn-default push-right'  %>
        <%= link_to 'Cancelar', admin_categorias_path, class:'btn-cancel push-right' %>
      </div>
    </div>
  </div>
<% end %>

<script charset="utf-8">
  function listener() {
    var nuevo = $('.nuevo:visible').length;
    var total = nuevo + 1;
    if (total == 0) {
      $('#totalSub').hide();
    } else {
      $('#totalSub').show();
      $('#totalSub').html(total);
    }
  }
  function update(){
    var actualizar = $('.nuevo:visible').length;
    var total = actualizar - 1;
    if (total == 0) {
      $('#totalSub').hide();
    } else {
      $('#totalSub').show();
      $('#totalSub').html(total);
    }
  }
</script>
