<% content_for :breadcrumbs do %>
  <div class="breadcrumb">
    <%= link_to 'Dashboard', admin_path %>
    <%= link_to 'Categorías', admin_categorias_path %>
  </div>
<% end %>

<div class='container'>
  <div class='row title'>
    <div class='col-10'>
      <span class='icon'>
        <i class="fa fa-star fa-lg"></i>
      </span>
      <h3>Todas las Categorías</h3>
    </div>
    <div class='col-2'>
      <%= link_to '<i class="fa fa-plus"></i> Agregar Categoria'.html_safe, new_admin_categoria_path , class: 'btn-default'%>
    </div>
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Prioridad</th>
      <th>Visibilidad</th>
      <th>Subcategorias</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.titulo %></td>
        <td><%= categoria.prioridad %></td>
        <td><%= categoria.visible ? 'SI' : 'NO' %></td>
        <td><%= categoria.subcategorias.join(', ') %></td>
        <td class='acciones'>
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_categoria_path(categoria), class: 'show' %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_categoria_path(categoria) , class: 'edit' %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, categoria, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
