<% content_for :breadcrumbs do %>
  <div class="breadcrumb">
  <%= link_to 'Dashboard', admin_path %>
  <%= link_to 'Categorías', admin_categorias_path %>
</div>
<% end %>

<div class='container'>
  <div class='row title'>
    <div class='col-9'>
      <span class='icon'>
        <i class="fa fa-bookmark fa-lg"></i>
      </span>
      <h3>Todas las Categorías</h3>
    </div>
    <div class='col-3 float'>
      <%= link_to '<i class="fa fa-plus"></i> Agregar Categoria'.html_safe, new_admin_categoria_path , class: 'btn-default push-right mt'%>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='float'>
        <%= search_form_for @q, url: search_admin_categorias_path, html: {method: :post} do |f| %>
        <div class='search push-right'>
          <%= f.search_field :titulo_cont, placeholder: 'Buscar por titulo' %>
          <%= f.button 'buscar' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class='col-12'>
      <table class='table'>
        <thead>
          <tr>
            <%= content_tag :th, sort_link(@q, :titulo) %>
            <%= content_tag :th, sort_link(@q, :prioridad) %>
            <%= content_tag :th, sort_link(@q, :visibilidad) %>
            <!-- Color
            <th>Color</th> -->
            <!-- Iconos
            <th>Icono</th> -->
            <%= content_tag :th, sort_link(@q, :subcategoria, 'Subcategorías') %>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @categorias.each do |categoria| %>
            <tr>
              <td><%= categoria.titulo %></td>
              <td>
                <% if categoria.prioridad? %>
                  <%= categoria.prioridad %>
                <%else%>
                  <i class="fa fa-ban"></i>
                <%end%>
              </td>
              <td>
                <% if categoria.visible %>
                  <div class='green-label'>
                    <i class="fa fa-eye fa-lg"></i>
                  </div>
                <% else %>
                  <div class='red-label'>
                    <i class="fa fa-eye-slash fa-lg"></i>
                  </div>
                <% end %>
              </td>
              <!-- Color
              <td>
                <span class='color-picker' style='background:<%= categoria.color %>;'></span>
              </td> -->
              <!-- Iconos
              <td>
                <i class="fa fa-<%= categoria.icon %>"></i>
              </td> -->
              <td>
                <span class='label-green'><%= categoria.subcategorias.count %></span>
              </td>
              <td class='acciones'>
                <%= link_to '<i class="fa fa-plus-square fa-lg"></i>'.html_safe, [:admin, categoria], class: 'show' %>
                <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_admin_categoria_path(categoria) , class: 'show' %>
                <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, [:admin, categoria], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= will_paginate @categorias %>
    </div>
  </div>
</div>
