<% content_for :breadcrumbs do %>
  <div class="breadcrumb">
    <%= link_to 'Dashboard', admin_path %>
    <%= link_to 'Categorías', admin_categorias_path %>
  </div>
<% end %>

<div class='container'>
  <div class='row title'>
    <div class='col-9'>
      <span class='icon'>
        <i class="fa fa-star fa-lg"></i>
      </span>
      <h3>Todas las Categorías</h3>
    </div>
    <div class='col-3 float'>
      <%= link_to '<i class="fa fa-plus"></i> Agregar Categoria'.html_safe, new_admin_categoria_path , class: 'btn-default push-right mt'%>
    </div>
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Prioridad</th>
      <th>Visibilidad</th>
      <th>Subcategorias</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.titulo %></td>
        <td><%= categoria.prioridad %></td>
        <td>
          <% if categoria.visible %>
            <div class='green-label'>
              <i class="fa fa-toggle-on fa-lg"></i>
            </div>
          <% else %>
            <div class='red-label'>
              <i class="fa fa-toggle-off fa-lg"></i>
            </div>
          <% end %>
        </td>
        <td><%= categoria.subcategorias.join(', ') %></td>
        <td class='acciones'>
          <%= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, [:admin, categoria], class: 'show' %>
          <%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_admin_categoria_path(categoria) , class: 'show' %>
          <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, [:admin, categoria], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
