<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @categoria.titulo %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @categoria.slug %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @categoria.prioridad %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @categoria.visible %>
</p>

<%= link_to 'Edit', edit_admin_categoria_path(@categoria) %> |
<%= link_to 'Back', admin_categorias_path %>
