<%= form_for(@subcategoria) do |f| %>
  <% if @subcategoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategoria.errors.count, "error") %> prohibited this subcategoria from being saved:</h2>

      <ul>
      <% @subcategoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :posicion %><br>
    <%= f.number_field :posicion %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :categoria_id %><br>
    <%= f.text_field :categoria_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
