<div class='row'>
  <div class='col-12'>
    <div class="breadcrumb">
      <%= link_to 'Home', root_path %>
      <%= link_to @subcategoria.categoria, @subcategoria.categoria %>
      <%= link_to @subcategoria, @subcategoria %>
    </div>
    <br><br>
  </div>
  <div class='col-9 subcategory'>
    <!--Header -->
    <div class='header' style='background: <%= @subcategoria.categoria.color %>;'>
      <div class="icon">
        <span class='icon' style='background: <%= @subcategoria.categoria.color %>;'>
          <i class="fa fa-bookmark"></i>
          <!-- Icono
          <% if @subcategoria.categoria.icon? %>
            <i class="fa fa-<%= @subcategoria.categoria.icon %>"></i>
          <% else %>
            <i class="fa fa-file"></i>
          <% end %> -->
        </span>
        <span class='back'></span>
      </div>
      <h3 class='title'><%= @subcategoria.categoria %></h3>
    </div>
    <h4 class='subtitle'>
      <%= @subcategoria %>
      <small class='span-gray'>
        (<%= pluralize(@subcategoria.articulos.count, 'Artículo') %>)
        <% end %>
      </small>
    </h4>
    <ul class='content'>
      <% @subcategoria.articulos.each do |articulo| %>
      <li>
        <%= link_to articulo, [articulo.subcategoria,articulo] %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class='col-3 sidebar'>
    <%= render 'shared/sidebar' %>
  </div>
</div>
