<!DOCTYPE html>
<html>
<head>
  <title>Inadem tickets :: Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='admin'>
    <%#= render 'flash_messages' if !flash.empty? %>
      <div class='sidebar-admin'>
        <%#= render 'admin/sidebarAdmin' %>
        <div class='top-header'>
          <h2>Administrador</h2>
        </div>
        <ul>
          <li>
            <%= link_to '<i class="fa fa-line-chart"></i> Dashboard'.html_safe, admin_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-star"></i> Categorías'.html_safe, admin_categorias_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-star"></i> Sub Categorías'.html_safe, admin_subcategorias_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-star"></i> Articulos'.html_safe, admin_articulos_path %>
          </li>
          <li>
            <%= link_to '<i class="fa fa-star"></i> Usuarios'.html_safe, admin_users_path %>
          </li>
        </ul>
        <footer>
          footer
        </footer>
      </div>
      <div class='container-admin'>
        <header class='container'>
          <div class='row'>
            <div class='col-6'>
              <%= yield :breadcrumbs %>
            </div>
            <div class='col-5'>
              <div class='menu'>
                  <h6><%= link_to current_user.email, edit_user_registration_path %></h6>
                  <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class: 'btn-cancel' %>
              </div>
            </div>
          </div>
        </header>
        <div class='content'>
          <%= yield %>
        </div>

      </div>
  </div>
</body>
</html>
