<!DOCTYPE html>
<html>
<head>
<title>Inadem tickets :: Admin</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div class='admin'>
  <div class='sidebar-admin'>
    <%= render :partial => "/admin/shared/sidebar" %>
  </div>
  <div class='container-admin'>
    <header>
      <div class='float'>
        <div class='push-left'>
          <%= yield :breadcrumbs %>
        </div>
        <div class='push-right'>
          <div class='menu'>
            <% if user_signed_in? %>
              <h6><%= link_to current_user.email, edit_user_registration_path %></h6>
              <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class: 'btn-cancel' %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class='overflow'>
      <div id='generalContent' class='content' data-controller='<%= controller.controller_name %>' data-view='<%= controller.action_name %>'>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
</html>
