<!DOCTYPE html>
<html>
<head>
  <title>Inadem tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag 'header.png', style: 'width:100%' %>
  <div class='container general'>
    <%= yield %>
  </div>
  <%= image_tag 'footer.png', style: 'width:100%' %>
</body>
</html>
