<!DOCTYPE html>
<html>
<head>
  <title>Inadem tickets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <%= image_tag 'header.png', style: 'width:100%' %>
  <div class='container general'>
    <%= yield %>
  </div>
  <%= image_tag 'footer.png', style: 'width:100%' %>
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete , class: 'btn-cancel' %>
  <% end %>
</body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
