<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @articulo.contenido.html_safe %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @articulo.subcategoria %>
</p>

<p>
  <strong>Video:</strong>
  <%= @articulo.video %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @articulo.imagen %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @articulo.slug %>
</p>
