<div class='row'>
  <div class='col-12'>
    <div class="breadcrumb">
      <%= link_to 'Home', root_path %>
      <%= link_to @articulo.subcategoria.categoria, [@articulo.subcategoria.categoria] %>
      <%= link_to @articulo.subcategoria, [@articulo.subcategoria] %>
      <%= link_to @articulo, [@articulo.subcategoria, @articulo] %>
    </div>
    <br><br>
  </div>
  <div class='col-9 articulo'>
    <!--Header -->
    <div class='header' style='background: <%= @articulo.subcategoria.categoria.color %>;'>
      <div class="icon">
        <span class='icon' style='background: <%= @articulo.subcategoria.categoria.color %>;'>
          <i class="fa fa-file"></i>
          <!-- Icono
          <% if @articulo.subcategoria.categoria.icon? %>
            <i class="fa fa-<%= @articulo.subcategoria.categoria.icon %>"></i>
          <% else %>
            <i class="fa fa-file"></i>
          <% end %> -->
        </span>
        <span class='back'></span>
      </div>
      <h3 class='title'><%= @articulo.subcategoria.categoria %></h3>
    </div>
    <h4 class='subtitle'><%= @articulo.subcategoria %></h4>
    <div class='content'>
      <h2 class='title'><%= @articulo %></h2>
      <% if @articulo.video? %>
        <div class='image'>
          <%= @articulo.imagen %>
        </div>
      <%end%>
      <div class='info'>
        <%= @articulo.contenido.html_safe %>
        <br>
        <%= link_to 'Ver video', @articulo.video if @articulo.video? %>
      </div>
    </div>
  </div>
  <div class='col-3 sidebar'>
    <%= render 'shared/sidebar' %>
  </div>
</div>
